@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.btn {
    display: block;
    margin: $spacing-lg auto 0;
    padding: 12px 24px;
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: $border-radius;
    font-size: 16px;
    cursor: pointer;
    transition: background-color $transition;
  
    &:hover {
      background-color: $color-primary-hover;
    }
  
    &--submit {
      width: 100%;
      font-weight: bold;
    }
}